<?xml version="1.0" encoding="utf-8"?>
<!-- Rehost.Web portable configuration vocabulary. Runtime defaults live in rehost.web.config. -->
<configuration>
  <configSections>
    <section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration.ConfigurationManager" restartOnExternalChanges="false" requirePermission="false" />
    <section name="connectionStrings" type="System.Configuration.ConnectionStringsSection, System.Configuration.ConfigurationManager" requirePermission="false" />
    <!--
      Mirrors Framework: System.Web ignores <system.webServer>; without the declaration an app
      web.config carrying it fails. The honored sections are read from
      rehost.applicationHost.config plus app amendments (ledger P60).
    -->
    <section name="system.webServer" type="System.Configuration.IgnoreSection, System.Configuration.ConfigurationManager" />
    <!-- Framework's System.dll read system.net; nothing on .NET does. Declared so an application carrying it activates. -->
    <section name="system.net" type="System.Configuration.IgnoreSection, System.Configuration.ConfigurationManager" />
    <section name="system.data" type="System.Data.Common.DbProviderFactoriesSection, Rehost.Web" />
    <sectionGroup name="system.web" type="System.Web.Configuration.SystemWebSectionGroup, Rehost.Web">
      <section name="anonymousIdentification" type="System.Web.Configuration.AnonymousIdentificationSection, Rehost.Web" allowDefinition="MachineToApplication" />
      <section name="authentication" type="System.Web.Configuration.AuthenticationSection, Rehost.Web" allowDefinition="MachineToApplication" />
      <section name="authorization" type="System.Web.Configuration.AuthorizationSection, Rehost.Web" />
      <section name="browserCaps" type="System.Web.Configuration.HttpCapabilitiesSectionHandler, Rehost.Web" />
      <section name="clientTarget" type="System.Web.Configuration.ClientTargetSection, Rehost.Web" />
      <section name="compilation" type="System.Web.Configuration.CompilationSection, Rehost.Web" requirePermission="false" />
      <section name="customErrors" type="System.Web.Configuration.CustomErrorsSection, Rehost.Web" />
      <section name="deployment" type="System.Web.Configuration.DeploymentSection, Rehost.Web" allowDefinition="MachineOnly" />
      <section name="fullTrustAssemblies" type="System.Web.Configuration.FullTrustAssembliesSection, Rehost.Web" allowDefinition="MachineToApplication" />
      <section name="globalization" type="System.Web.Configuration.GlobalizationSection, Rehost.Web" />
      <section name="healthMonitoring" type="System.Web.Configuration.HealthMonitoringSection, Rehost.Web" allowDefinition="MachineToApplication" />
      <section name="hostingEnvironment" type="System.Web.Configuration.HostingEnvironmentSection, Rehost.Web" allowDefinition="MachineToApplication" />
      <section name="httpCookies" type="System.Web.Configuration.HttpCookiesSection, Rehost.Web" />
      <section name="httpHandlers" type="System.Web.Configuration.HttpHandlersSection, Rehost.Web" />
      <section name="httpModules" type="System.Web.Configuration.HttpModulesSection, Rehost.Web" />
      <section name="httpRuntime" type="System.Web.Configuration.HttpRuntimeSection, Rehost.Web" />
      <section name="identity" type="System.Web.Configuration.IdentitySection, Rehost.Web" />
      <section name="machineKey" type="System.Web.Configuration.MachineKeySection, Rehost.Web" allowDefinition="MachineToApplication" />
      <section name="membership" type="System.Web.Configuration.MembershipSection, Rehost.Web" allowDefinition="MachineToApplication" />
      <section name="pages" type="System.Web.Configuration.PagesSection, Rehost.Web" requirePermission="false" />
      <section name="partialTrustVisibleAssemblies" type="System.Web.Configuration.PartialTrustVisibleAssembliesSection, Rehost.Web" allowDefinition="MachineToApplication" />
      <section name="processModel" type="System.Web.Configuration.ProcessModelSection, Rehost.Web" allowDefinition="MachineOnly" allowLocation="false" />
      <section name="profile" type="System.Web.Configuration.ProfileSection, Rehost.Web" allowDefinition="MachineToApplication" />
      <section name="protocols" type="System.Web.Configuration.ProtocolsSection, Rehost.Web" allowDefinition="MachineToWebRoot" />
      <section name="roleManager" type="System.Web.Configuration.RoleManagerSection, Rehost.Web" allowDefinition="MachineToApplication" />
      <section name="securityPolicy" type="System.Web.Configuration.SecurityPolicySection, Rehost.Web" allowDefinition="MachineToApplication" />
      <section name="sessionPageState" type="System.Web.Configuration.SessionPageStateSection, Rehost.Web" />
      <section name="sessionState" type="System.Web.Configuration.SessionStateSection, Rehost.Web" allowDefinition="MachineToApplication" />
      <section name="siteMap" type="System.Web.Configuration.SiteMapSection, Rehost.Web" allowDefinition="MachineToApplication" />
      <section name="trace" type="System.Web.Configuration.TraceSection, Rehost.Web" />
      <section name="trust" type="System.Web.Configuration.TrustSection, Rehost.Web" allowDefinition="MachineToApplication" />
      <section name="urlMappings" type="System.Web.Configuration.UrlMappingsSection, Rehost.Web" allowDefinition="MachineToApplication" />
      <section name="webControls" type="System.Web.Configuration.WebControlsSection, Rehost.Web" />
      <section name="webParts" type="System.Web.Configuration.WebPartsSection, Rehost.Web" />
      <section name="webServices" type="System.Web.Services.Configuration.WebServicesSection, Rehost.Web.Services" />
      <section name="xhtmlConformance" type="System.Web.Configuration.XhtmlConformanceSection, Rehost.Web" />
      <sectionGroup name="caching" type="System.Web.Configuration.SystemWebCachingSectionGroup, Rehost.Web">
        <section name="cache" type="System.Web.Configuration.CacheSection, Rehost.Web" allowDefinition="MachineToApplication" />
        <section name="outputCache" type="System.Web.Configuration.OutputCacheSection, Rehost.Web" allowDefinition="MachineToApplication" />
        <section name="outputCacheSettings" type="System.Web.Configuration.OutputCacheSettingsSection, Rehost.Web" allowDefinition="MachineToApplication" />
        <section name="sqlCacheDependency" type="System.Web.Configuration.SqlCacheDependencySection, Rehost.Web" allowDefinition="MachineToApplication" />
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, Rehost.Web.Extensions">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, Rehost.Web.Extensions">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, Rehost.Web.Extensions" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, Rehost.Web.Extensions">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, Rehost.Web.Extensions" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, Rehost.Web.Extensions" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, Rehost.Web.Extensions" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, Rehost.Web.Extensions" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LocalSqlServer" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership>
      <providers>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, Rehost.Web" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <profile>
      <providers>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, Rehost.Web" connectionStringName="LocalSqlServer" applicationName="/" />
      </providers>
    </profile>
    <roleManager>
      <providers>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, Rehost.Web" connectionStringName="LocalSqlServer" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, Rehost.Web" applicationName="/" />
      </providers>
    </roleManager>
    <!--
      Belongs with the runtime defaults in rehost.web.config, but <processModel> is
      MachineOnly. The section default of 60 assumed the denominator was a shared server's whole RAM
      and the rest had to cover the OS and other worker processes; a container limit has no such
      tenants. Neither number reproduces Framework's behaviour, where the limit sat so far above any
      real working set that the monitor never ran.
    -->
    <processModel autoConfig="true" memoryLimit="80" />
  </system.web>
</configuration>
